button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px 20px;
    float: right;
    border-radius: 5px
}
.addToCart {
    padding: 10px 15px;
}
.container {
    margin-top: 20px;
}
#checkout {
    background-color: #12a526;
    padding: 15px 15px;
    float: right;
}
#emptyCart {
    background-color: #e08c1e;
    padding: 15px 15px;
    float: left;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#navbar {
    padding-left: 1em;
}
.tab-content {
    padding-left: 1em;
    padding-right: 1em;
}

#invalid-cc, #invalid-mm, #invalid-yy, #invalid-cvv, #invalid-fname, #invalid-lname, 
#invalid-address, #invalid-city, #invalid-province, #invalid-country, #invalid-postal, 
#invalid-phone, #invalid-email  {
    color: red;
}

#valid-cc, #valid-mm, #valid-yy, #valid-cvv, #valid-fname, #valid-lname, #valid-address, 
#valid-city, #valid-province, #valid-country, #valid-postal, #valid-phone, #valid-email {
    color: green;
}
